.register-page{
display:flex;
height:100vh;
font-family:Arial;
}

/* LEFT */

.left{
flex:1;
background:#cfd9d2;
display:flex;
align-items:center;
justify-content:center;
}

.welcome{
width:70%;
}

.badge{
background:white;
padding:6px 12px;
border-radius:20px;
font-size:12px;
}

h1{
font-size:42px;
margin-top:20px;
}

.brand{
color:#e74c3c;
}

.stats{
display:flex;
gap:20px;
margin:25px 0;
}

.box{
background:white;
padding:15px 25px;
border-radius:10px;
}

.blood-img{
width:100%;
margin-top:20px;
border-radius:15px;
}


/* RIGHT */

.right{
flex:1;
display:flex;
align-items:center;
justify-content:center;
background:#f7f7f7;
}

.form{
width:420px;
}

.subtitle{
color:#777;
margin-bottom:20px;
}

.upload{
text-align:center;
margin-bottom:20px;
}

.circle{
width:80px;
height:80px;
border:2px dashed #bbb;
border-radius:50%;
display:flex;
align-items:center;
justify-content:center;
margin:auto;
font-size:28px;
}

.row{
display:flex;
gap:10px;
margin-bottom:15px;
}

input,select{
width:100%;
padding:12px;
border-radius:8px;
border:1px solid #ccc;
margin-bottom:15px;
}

.register-btn{
width:100%;
padding:14px;
background:#e74c3c;
color:white;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
}

.or{
text-align:center;
margin:15px 0;
color:#777;
}

.google{
width:100%;
padding:12px;
border:1px solid #ccc;
background:white;
border-radius:8px;
}

.login{
text-align:center;
margin-top:15px;
}

.login span{
color:#e74c3c;
cursor:pointer;
}
